<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://cdn.pixabay.com/photo/2016/09/27/05/35/letter-1697604_960_720.png" width="30" height="30" alt="">
    Copyright has jwngh15
  </a>
</nav>
