
      <!--Footer-->
      <footer class="page-footer font-small unique-color-dark pt-0">


            <div style="background-color: #6351ce;">
              <div class="container">
                  <!--Grid row-->
                  <div class="row py-4 d-flex align-items-center">

                      <!--Grid column-->
                      <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                          <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
                      </div>
                      <!--Grid column-->

                      <!--Grid column-->
                      <div class="col-md-6 col-lg-7 text-center text-md-right">
                          <!--Facebook-->
                          <a class="fb-ic ml-0"><i class="fa fa-facebook white-text mr-lg-4"></i><img src = "https://seeklogo.com/images/F/facebook-icon-circle-logo-09F32F61FF-seeklogo.com.png" alt="Smiley face" height="42" width="42"></a>
                          <!--Twitter-->
                          <a class="tw-ic"><i class="fa fa-twitter white-text mr-lg-4"> </i><img src = "http://www.transparentpng.com/thumb/twitter/twitter-png-3.png" alt="Smiley face" height="42" width="42"></a>
                          <!--Google +-->
                          <a class="gplus-ic"><i class="fa fa-google-plus white-text mr-lg-4"></i><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1000px-Google_%22G%22_Logo.svg.png" alt="Smiley face" height="42" width="42"></a>
                          <!--Linkedin-->
                          <a class="li-ic"><i class="fa fa-linkedin white-text mr-lg-4"></i><img src = "https://seeklogo.com/images/L/linkedin-icon-logo-05B2880899-seeklogo.com.png" alt="Smiley face" height="42" width="42"></a>
                          <!--Instagram-->
                          <a class="ins-ic"><i class="fa fa-instagram white-text mr-lg-4"></i><img src = "http://www.freelogovectors.net/wp-content/uploads/2016/12/instagram-logo.png" alt="Smiley face" height="42" width="42"></a>
                      </div>
                      <!--Grid column-->

                  </div>
                  <!--Grid row-->
              </div>
          </div>

          <!--Footer Links-->
          <div class="p-3 mb-2 bg-dark text-white">
          <div class="container mt-5 mb-4 text-center text-md-left">
              <div class="row mt-3">

                  <!--First column-->
                  <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                      <h6 class="text-uppercase font-weight-bold"><strong>Beyond the Dream</strong></h6>
                      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                      <p>We create any ideas, any systems</p>
                  </div>
                  <!--/.First column-->

                  <!--Second column-->
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                      <h6 class="text-uppercase font-weight-bold"><strong>Products</strong></h6>
                      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                      <p><a href="#!">Star's Card</a></p>
                      <p><a href="#!">Tasty Korea</a></p>
                      <p><a href="#!">Re:Room</a></p>
                  </div>
                  <!--/.Second column-->

                  <!--Third column-->
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                      <h6 class="text-uppercase font-weight-bold"><strong>Useful links</strong></h6>
                      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                      <p><a href="#!">BTD Service</a></p>
                      <p><a href="#!">BTD Introduction</a></p>
                      <p><a href="#!">BTD Members</a></p>
                      <p><a href="#!">Help</a></p>
                  </div>
                  <!--/.Third column-->

                  <!--Fourth column-->
                  <div class="col-md-4 col-lg-3 col-xl-3">
                      <h6 class="text-uppercase font-weight-bold"><strong>Contact</strong></h6>
                      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                      <p><i class="fa fa-home mr-3"></i> Soeul, KOREA</p>
                      <p><i class="fa fa-envelope mr-3"></i> btd@btd.com</p>
                      <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                      <p><i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
                  </div>
                  <!--/.Fourth column-->

              </div>
          </div>
          <!--/.Footer Links-->

          <!-- Copyright-->
          <div class="footer-copyright py-3 text-center">
              <div class="container-fluid">
                  © 2018 Copyright: <a href="https://mdbootstrap.com/material-design-for-bootstrap/"><strong> MDBootstrap.com</strong></a>
              </div>
          </div>
          <!--/.Copyright -->

      </footer>
      <!--/.Footer-->
